@font-face {
  font-family: "DIN";
  font-weight: 700;
  src: local("D-DINCondensed-Bold"),
    url(./assets/fonts/D-DINCondensed-Bold.otf) format("opentype");
}

body,
html {
  margin: 0;
  font-family: "DIN", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;  
  background-color: #f2f2f7;
  /* font-size: 16px; */
  font-size: min(2.4vw, 4.2vh);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  user-select: none;   
  fill: currentColor;
  touch-action: none;  
  user-zoom: fixed;
}

input[type="text"],
input[type="number"],
input {
  font-size: max(16px, 1rem);
}
